{% extends "woodlandsmushrooms/base.html" %}

{% block content %}

<!-- Add in the head of your HTML -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<html>
<head>
    <title>Map of Locations</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div id="map" style="height: 400px;"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([30.1704903, -95.5092479], 13); // Set your own default location and zoom level

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

            // Add markers
        {% for MushroomDetail in MushroomDetails %}
        L.marker([{{ MushroomDetail.latitude }}, {{ MushroomDetail.longitude }}]).addTo(map)
            .bindPopup('{{ MushroomDetail.title }}', '{{MushroomDetail.url}}');
        {% endfor %}
    </script>
</body>
</html>




<!-- Add at the end of your body in HTML -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

{% endblock %}